

.grid {
  display: flex;
}

.grid-item {
  margin: 1rem;
  flex-grow: 0;
}

  .new-post-left {
    flex-basis: calc(30%);
  }

  .timeline {
    flex-basis: calc(50%);
  }

.new-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $c-secondary-light;
  border-radius: .2rem;
  min-width: 20rem;
}

.new-post-form {
  border-radius: 0.5rem;
}

.card-top {
  text-align: center;
  width: 100%;
  background: $c-secondary;
}

.register-heading {
  color: $c-white;
  font-size: 1.5rem;
  margin: 0;
}

.card-mid {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: .1rem solid $c-secondary;
}

textarea {
  border: 0;
  border-bottom: .1rem solid $c-secondary;
  //background-color: $c-white;
  border-radius: .2rem;
  width: 100%;
  padding: 1rem;
  outline: none;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.textarea-edit {
  border-bottom: .1rem solid $c-secondary;
}

.register-btn, .login-btn {
  padding: .5rem;
  border-radius: 1rem;
  background: $c-secondary;
  color: $c-pure-white;
  text-decoration: none;
  text-align: center;
  width: 8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &:hover {
    background: $c-white;
    color: $c-secondary;
  }
}

.post__timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $c-secondary-light;
  border-radius: .2rem;
}
