.grid {
  display: flex;
  flex-wrap: wrap;
}

.users-card {
  border: 1px solid $c-secondary-light;
  border-radius: 0.2rem;
  width: 18rem;
  height: 10rem;
  background: $c-pure-white;
  box-shadow:  1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  flex-basis: calc(100% / 3 - 1rem - 1rem);
}

.users-card__content {
  display: flex;
  padding: 1rem;
}

.users-pic {
  width: 6rem;
  height: 6rem;
  border-radius: .3rem;
}

.users-card__info {
  margin-left: 1rem;
  margin-top: -1rem;
}
